[submodule "auth-server"]
	path = auth-server
	url = git@github.com:CapstonProduct/auth-server.git
[submodule "voice-server"]
	path = voice-server
	url = git@github.com:CapstonProduct/voice-server.git
[submodule "fine-tuning-repo"]
	path = fine-tuning-repo
	url = git@github.com:CapstonProduct/fine-tuning-repo.git
[submodule "database-repo"]
	path = database-repo
	url = git@github.com:CapstonProduct/database-repo.git
[submodule "infra-repo"]
	path = infra-repo
	url = git@github.com:CapstonProduct/infra-repo.git
[submodule "alarm-server"]
	path = alarm-server
	url = git@github.com:CapstonProduct/alarm-server.git
